
/* Your CSS Code here. */
.holder{
	display:flex;
	justify-conter:center;
	align-items:center;
	width: 100vw;
	height:100vh;
}



}
 .item-1{
	heigth:100px;
	width:100px;
	background-color:red;
	 
	 
}